* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(30, 38%, 92%);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px auto 30px;
}

.container1 img {
  width: 280px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.container2 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  max-width: 280px;
  height: 420px;
  background-color: hsl(0, 0%, 100%);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 26px;
}

h1 {
  font-size: 2.5rem;
  line-height: 2.3rem;
  padding: 16px 0;
}

.describe {
  line-height: 1.3rem;
}

.subcontainer1 {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 20px 0;
}

.subcontainer1 p {
  font-size: 2rem;
  padding-right: 20px;
  color: hsl(158, 36%, 37%);
}

.subcontainer1 span {
  text-decoration: line-through;
}

.button-div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(158, 36%, 37%);
  color: hsl(0, 0%, 100%);
  border: none;
  padding: 12px;
  border-radius: 7px;
}

.button-div:hover {
  background-color: hsl(158, 39%, 20%);
  cursor: pointer;
}

.button-div p {
  padding-left: 10px;
}

.attribution {
  color: hsl(0, 0%, 0%);
  font-size: 12px;
  text-align: center;
}

.attribution a {
  color: hsl(213, 85%, 31%);
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  main {
    flex-direction: column;
  }
}
